input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
{
    background-color: transparent;
    background-image: none;
    color: rgb(0, 0, 0);
}
[data-role=header]{top:0; position:fixed !important; bottom: auto !important; text-align :center;}
.noDecoration
{
    text-decoration: none !important;
}
.nd2-toast
{
    margin-bottom: 1em !important;
    border-radius: 5em;
}
.ui-loader-verbose
{
    box-shadow: none !important;
    height: 45px !important;
    margin-left: -6.875em;
    margin-top: -2.6875em;
    opacity: 0.88 !important;
    padding: 0.625em;
    width: 12.5em;
}
span.middle-md.middle-sm.middle-xs
{
    color: #333333;
}
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b
{
    background-color: #000000 !important;
    background-color: rgba(0, 0, 0, 1) !important;
}

.ui-loader .ui-icon-loading
{
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2.25em;
    display: inline-block !important;
    height: 2.75em;
    margin: 0;
    padding: 0.0625em;
    width: 2.75em;
}

.ui-loader-verbose h1
{
    font-size: 1em !important;
    margin: -34px;
    position: relative !important;
    text-align: center;
    font-weight: 100;
}
.ui-content
{
    padding: 0 1em !important;
}
/*---Dashboard Card-----*/
.timerCard
{
    color: white;
    position: relative;
    top: 5px;
    float: right;
}
.dateCard, .nameCard
{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px;
}
.errorIcon
{
    font-size: 2em;
}
.img_circle
{
    border-radius: 50%;
}
.cstmAction
{
    background-color: #17b293 !important;
    color: white !important;
}
.cstmactionInfo
{
    color: white !important;
    font-size: 14px !important;
}
.cstmcardprimarytitle
{
    margin-right: 120px !important;
}
.floatright
{
    float: right;
}
.floatleft
{
    float: left;
}
.ui-icon-carat-r::after
{
    background-image: none !important;
}
.ui-panel .ui-listview .ui-btn
{
    font-size: 15px !important;
    font-weight: 100 !important;
    color: #177bbb !important;
}
.ui-panel-inner hr.inset
{
    margin: 1em -1em 0 0 !important;
}

.ui-panel-inner > .ui-listview > .ui-li-divider
{
    background-color: transparent;
    color: #1ab394 !important;
    font-size: 12px !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.4em;
    text-transform: uppercase;
}
/*FIX#1 0.85em 0.5em 0.5em*/

.ui-header .zmdi
{
    line-height: unset !important;
}
.price
{
    color: #17b293 !important;
    font-size: 1.7em !important;
    font-weight: 100 !important;
}

.text-center
{
    text-align: center;
}
.nopaddingBotTop
{
    margin-bottom: 0;
    margin-top: 0;
}
.orderId
{
    color: #1ab394 !important;
    font-size: 1.2em !important;
    margin-bottom: 12px !important;
}
.orderh2
{
    font-size: 15px !important;
    font-weight: 500 !important;
}
.txt
{
    background-color: #2F4050 !important;
    font-size: x-small;
    position: absolute;
    top: -4px;
    left: 27px;
    padding: 0 3px;
    border-radius: 10px;
}
.filledIcon
{
    color: red !important;
}
.ui-lg
{
    font-size: 18px !important;
    padding: 14px 0;
}
/*css for panel scrolling*/
.ui-panel.ui-panel-open
{
    position: fixed;
}
.ui-panel-inner
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar
{
    width: 0px;
}

body
{
    margin: 0;
}

div#container
{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div[data-role="header"]
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div[data-role="content"]
{
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
}

.scrollable
{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* iOS specific fix, don't use it on Android devices */
.scrollable > *
{
    -webkit-transform: translateZ(0px);
}

.available
{
    color: #1aae88;
}
.notAvailable
{
    color: #ff6666;
}
.working
{
    color: #fcc633;
}
.input-validation-error
{
    border-bottom: 1px solid #E41313 !important;
}
.error
{
    border-bottom: 1px solid #E41313 !important;
}
