::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}

body
{
    color: #333 !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0CACEB !important;
}
.nd2-toast
{
    margin-bottom: 1em !important;
    width: unset !important;
    border-radius: 5em;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    background-color: #0CACEB !important;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.87);
    color: #000000;
    color: rgba(0, 0, 0, 0.87);
}

.logo
{
    margin: 0 auto;
    padding-top: 10%;
}
.text-center
{
    text-align: center;
}
.btnSection
{
    bottom: 1em;
    position: fixed;
    text-align: center;
    width: 90%;
}
.btnSection .col-xs-offset-3
{
    margin-left: 13%;
}
.padding
{
    padding-top: 60px;
    padding-right: 28px !important;
    padding-left: 28px !important;
    background-color: transparent;
    opacity: 1;
}

.logo-login
{
    height: 35vh;
    background-image: url('../img/ems-long-logo-white.png');
    background-position: 50% 50%;
    background-size: 250px;
    background-repeat: no-repeat;
}

.ui-page-theme-a .ui-btn.ui-btn-raised.clr-primary
{
    border: 1px solid white;
    background-color: #177bbb;
    color: #ffffff;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 35px !important;
}

.signUp
{
    color: #fff !important;
    font-size: 15px !important;
    font-weight: 100 !important;
}
.noborder
{
    border: none !important;
    text-transform: capitalize !important;
}
.marginleft
{
    margin-left: 5% !important;
}
/*Pop Up*/
.ui-header .ui-title, .ui-footer .ui-title
{
    font-weight: 100 !important;
    margin: 0 72px;
    text-align: left;
    width: 100%;
    padding: 0.3em 0 !important;
    letter-spacing: 0;
}
.ui-page-theme-a .ui-header
{
    /*background-color: #2F4050 !important;*/
    box-shadow: none !important;
}
/*Dialog Window*/
.windowBlck
{
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.7em;
    margin-top: 15%;
}

.windowBlck h3
{
    text-align: center;
    color: white;
    font-weight: 100;
    margin-top: -15px !important;
}
.windowBlck i
{
    color: white;
    font-size: 22px;
    position: relative;
    top: 0.5em;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a
{
    background-color: #0CACEB !important;
    text-shadow: none !important;
    color: white !important;
}
.divskip
{
    margin-bottom: 5px;
    margin-top: 20px;
}
.divskip a
{
    color: white !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    text-shadow: none !important;
    background-color: #0CACEB !important;
}

.ui-input-text input, .ui-input-search input, textarea.ui-input-text.ui-textinput-autogrow
{
     display: block;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 2.125em;
    border-bottom: 0.5px solid #ffffff !important;
    font-size: 1em !important;
    background-color: transparent;
    color: #fff; 
}
.ui-input-text:after, .ui-input-search:after {
    content: "";
    position: absolute;
    width: 0 !important;   
}
